/**##############################################################
                                            Variables
###############################################################
**/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4b4b4b;
  -webkit-font-smoothing: antialiased;
}

.africons {
    display: grid;
    padding: 1rem 0;
    margin: 1px;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    align-items: center;
    grid-gap: 5px;
    /*justify-content: space-between;*/
   
}

.icon { 
        border: 1px solid #ddd;
        padding: 1rem;

}

 i  {
    font-size: 6rem;

}

@media only screen and (max-width: 600px) {
  i {
    font-size: 4rem;
  }
}


.title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 4rem;
    color: #d030a0;
}

@media only screen and (max-width: 600px) {
  .title {
   font-size: 2rem;
   line-height: 2.2rem;
   text-align: center;
  }
}